<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>My Awesome Pure Front</title>
  </head>
  <body>
    <header class="c-header">
      <div class="c-header__container o-container">
        <h1 class="u-fs-20">PureFrontend</h1>
        <div>
          <ul class="c-header__list o-list">
            <li><a data-testid="button-list" href="index.html">Lista</a></li>
            <li><a data-testid="button-create" href="create.html">Criar</a></li>
          </ul>
        </div>
      </div>
    </header>
    {content}
  </body>
</html>
