@import 'resets.scss';
@import 'variables.scss';

@import 'mixins/mixins.scss';
@import 'objects/objects.scss';
@import 'utility/utility.scss';

@import 'iconfont/flaticon';

@import 'components/components.scss';

@import 'pages/pages.scss';

body {
  background-color: $color-white;
  display: flex;
  flex-flow: column;
}

span,
section,
div,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: $color-text;
}
