$grid-width: 1280px;
$border-radius: 4px;

$color-text: #292831;
$color-error: #eb4a46;
$color-warning: #ffc500;
$color-disabled: #7b7b7b;

$color-gray: #f4f3fa;
$color-white: #ffffff;
$color-black: #292831;

$color-red: rgb(176, 54, 54);

$color-bg-gray: #e1e8e8;
$color-blue-esmerald: #00c8b3;
