<div class="o-container u-z-index-1 u-mt-24">
  <div class="o-row u-flex-column">
    <div class="o-column o-column-12@xs o-column-12@sm o-column-12@md">
      <h1 class="u-fs-32">Adicionar membro</h1>
    </div>
  </div>
  <div class="o-row">
    <div class="o-column o-column-12@xs o-column-3@sm o-column-3@md">
      <form data-form="create" action="#" method="POST" novalidate="true" data-testid="crate-form">
        <div class="c-textfield js-float-field" data-field-row>
          <input
            type="text"
            name="name"
            placeholder=""
            class="c-textfield__input"
            autocomplete="off"
            data-testid="textfield-name"
            data-field-input
            data-validate-name
            data-validate-name-message="Nome inválido"
            data-validate-minlength="3"
            data-validate-minlength-message="O campo precisa de no mínimo 3 caracteres"
            data-validate-maxlength="80"
            data-validate-maxlength-message="O campo pode ter no máximo 80 caracteres"
          />
          <label for="name" data-testid="label-name" class="c-textfield__label js-float-input"
            >Nome completo (sem abreviações)</label
          >
          <span class="c-textfield__helper" data-testid="message-name" data-error-message></span>
        </div>
        <div class="c-textfield js-float-field" data-field-row>
          <input
            type="email"
            name="email"
            class="c-textfield__input"
            placeholder=""
            autocomplete="off"
            data-testid="textfield-email"
            data-field-input
            data-validate-email
            data-validate-email-message="E-mail inválido"
            data-validate-existemail
            data-validate-existemail-message="E-mail já existente em outro cadastro"
          />
          <label for="email" data-testid="label-email" class="c-textfield__label js-float-input">E-mail</label>
          <span class="c-textfield__helper" data-testid="message-email" data-error-message></span>
        </div>
        <div class="c-textfield js-float-field" data-field-row>
          <input
            type="text"
            name="cpf"
            placeholder=""
            class="c-textfield__input"
            autocomplete="off"
            data-testid="textfield-cpf"
            data-masker-cpf
            data-field-input
            data-validate-cpf
            data-validate-cpf-message="Digite um CPF válido"
          />
          <label for="cpf" data-testid="label-cpf" class="c-textfield__label js-float-input">CPF</label>
          <span class="c-textfield__helper" data-testid="message-cpf" data-error-message></span>
        </div>
        <div class="c-textfield js-float-field" data-field-row>
          <input
            type="tel"
            name="phone"
            placeholder=""
            class="c-textfield__input"
            autocomplete="off"
            data-testid="textfield-phone"
            data-masker-phone
            data-field-input
            data-validate-phone
            data-validate-phone-message="Telefone inválido"
          />
          <label for="phone" data-testid="label-phone" class="c-textfield__label js-float-input">Telefone</label>
          <span class="c-textfield__helper" data-testid="message-phone" data-error-message></span>
        </div>
        <div class="o-row">
          <div class="o-column o-column-12@xs o-column-12@sm o-column-12@md">
            <button type="submit" data-testid="submit" class="c-button c-button--primary u-w-100">
              <div class="c-button__text">Cadastrar</div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
