<div class="o-container u-z-index-1 u-mt-24">
  <div class="o-row u-flex-column">
    <div class="o-column o-column-12@xs o-column-12@sm o-column-12@md">
      <h1 class="u-fs-32"># my-awesome-pure-frontend</h1>
    </div>
  </div>
  <div class="o-row">
    <div class="o-column o-column-12@xs o-column-12@sm o-column-12@md">
      <button class="c-button c-button--primary">Primário</button>
    </div>
    <div class="o-column o-column-12@xs o-column-12@sm o-column-12@md">
      <button class="c-button c-button--secondary">Secundário</button>
    </div>
  </div>
</div>
