@import './src/mixins';
@import './src/variables';

.#{$component} {
  display: flex;
  background: #ccc;
  height: 64px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    li {
      a {
        padding: 8px;
      }
    }
  }
}
