@import './src/mixins';
@import './src/variables';

.#{$component} {
  display: flex;
  background: $color-blue-esmerald;
  height: 64px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    li {
      a {
        padding: 6px 8px;
        text-decoration: none;
        color: $color-text;
        border: 1px solid $color-text;
        margin: auto 4px auto;
        border-radius: 4px;

        &:hover {
          color: $color-white;
          border-color: $color-white;
          background-color: darken($color-blue-esmerald, 5);
        }
      }
    }
  }
}
